{% extends "base.html" %}

{% block content %}
<h1>Подача заявки</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.allocates_time.label }}<br>
        {{ form.allocates_time(class="form-control") }}<br>
        {% for error in form.allocates_time.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.what_doing.label }}<br>
        {{ form.what_doing(class="form-control") }}<br>
        {% for error in form.what_doing.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.self_actions.label }}<br>
        {{ form.self_actions(class="form-control") }}<br>
        {% for error in form.self_actions.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}