{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">

<h1 align="center">Список заявок</h1>
{% if current_user.is_authenticated %}
    <br>
    <p align="justify">
    <a href="/" class="btn btn-secondary">Вернуться к работам</a>
    {% if current_user.is_authenticated and current_user.id != 1  %}
    <a href="add_application" class="btn btn-secondary">Подать заявку на вступление в команду</a></p>
    {% endif %}
{% endif %}
{% for application in applications %}
<h3>Заявка # {{ application.id }}</h3>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td class="title" width="250px" bgcolor="#dddddd">Почта</td>
            <td class="title" width="200px" bgcolor="#dddddd">Как зовут</td>
            <td class="title" width="200px" bgcolor="#dddddd">Уделю времени</td>
            <td class="title" width="150px" bgcolor="#dddddd">Чем занимаюсь</td>
            <td class="title" width="100px" bgcolor="#dddddd" align="center">На посту менеджера</td>
        </tr>
        <tr class="my_row">
            <td class="ordinary" bgcolor="#eeeeff">{{ emails[application.user_id] }}</td>
            <td class="ordinary" bgcolor="#eeeeff">{{ full_names[application.user_id] }}</td>
            <td class="ordinary" bgcolor="#eeeeff">{{ application.allocates_time }}</td>
            <td class="ordinary" bgcolor="#eeeeff">{{ application.what_doing }}</td>
            <td class="ordinary" bgcolor="#eeeeff" align="center">{{ application.self_actions }}</td>
        </tr>

    </table>
</div>
<br>
{% if current_user.is_authenticated and current_user.id == application.chief or current_user.id == 1  %}
<div>
    <a href="/edit-application/{{ application.id }}" class="btn btn-warning">Изменить заявку</a>
    <a href="/delete-application/{{ application.id }}" class="btn btn-danger">Удалить заявку</a>
</div>
<br><br>
{% endif %}
{% endfor %}
{% endblock %}